body{
    font:normal 15pt Arial;
    background:rgb(174, 0, 255);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 2px black;
    padding:10px;
}
section{
    color:black;
    background:white;
    width:500px;
    border-radius: 10px;
    margin:auto;
    text-shadow: 1px 1px 1px;
  
}
input#txti{
    margin-top:50px;
}
input{
    margin-top: 10px;
    margin-right: 200px;
}
input#ver{
    margin-bottom: 50px;
    padding: 10px;
    font-weight: bold;
    
}

footer{
    font-style: italic;
}