body {
    background:#0077ff;
    font: normal 15pt Arial;
}
header{
    color:white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
div#res{
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding:50px;
    margin:auto;
    width: 500px;
    box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.253);
}
footer{
    color:whitesmoke;
    text-align: center;
    font-style:italic;
    text-shadow: 1px 1px 1px black;
}