body{
    color: white;
    background-color: #3a76f8;
    font: normal 15pt arial;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);
}
header{
    
    text-align: center;
}
section{
    color: black;
    background-color: aliceblue;
    border-radius: 10px;
    width: 550px;
    padding: 10px;
    margin: auto ;
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);
}

p{
    text-align: left;
    font-size: 15pt;
    padding:10px;
}


footer{
    padding: 10px;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.322);
}